.review_list_item_wrapper {
    width: 16vw;
    padding: 2vw;

    border: 1px solid lightgray;
    border-radius: 10px;
    word-wrap: anywhere;

    justify-items: center;
}

.review {
    text-align: start;

    white-space: break-spaces;
}