.auth_info_box_wrapper {
    width: fit-content;
}

.auth_info_box_title {
    justify-self: center;

    font-weight: bolder;
    font-size: 24px;
}

.auth_info_box_container {
    padding: 24px;

    border: 2px solid black;
    border-radius: 20px;
}

.auth_info_box_input_container {
    justify-content: space-between;
    align-items: center;
}

.auth_info_box_type {
    font-size: 18px;
    font-weight: bold;
}

.auth_info_box_input_box {
    padding: 12px;
    height: fit-content;
    border: 1px solid gray;
    font-size: 16px;
}

.auth_info_box_box:focus {
    border: 1px solid black;
}

.auth_info_box_button {
    width: fit-content;
    padding: 6px;
    align-self: end;

    background: white;
    border: 1px solid black;
    border-radius: 5px;

    font-size: 16px;
}

.auth_info_box_button:hover {
    background: darkgrey;
    border: 1px solid white;

    color: whitesmoke;
}