.main_body_wrapper {
    width: 100%;
}

.introduction_wrapper {
    width: fit-content;
    text-align: start;
    justify-self: center;
}

.main_content_container {
    justify-content: center;
}

p {
    width: fit-content;
}

textarea {
    resize: none;
}