.header_container {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 24px;
}

.menu_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}