.header_wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 24px;
}

.menu_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}